#logo{
    width: 200px;
    float: left;

}

#mainlist{
    list-style-type: none;


}
#mainlist li{

}
li a{
    text-decoration: none;
    padding: 10px;

    text-align: center;
}
body{
    max-width: 960px;
    
    font-family: 'Amiri', serif;
    font-weight: 400;
}


footer{
    background: darkolivegreen;

    text-align: center;
}
nav{
    background: #ed956b;
    margin-left: 0;
    margin-top: 20px;

}
section{
    background: #76b3ff;
    margin-top: 10px;
}