h1{
    color: darkblue;
    font-size: 300%;
    text-align: center;
}
h2,h3{
    color: goldenrod;
}
h2{
    text-align: center;
    font-size: 200%;
    color: darkblue;
}


footer {

    text-align: center;

}

#loginbox{
    padding: 10px;
}
/* UNVISITED LINK */
A:LINK {
    COLOR: red;
}
/* VISITED LINK */
A:VISITED {
    COLOR: green;
}

/* MOUSE OVER LINK */
A:HOVER {
    COLOR: blueviolet;
}
/* SELECTED LINK */
A:ACTIVE {
    COLOR: darkblue;
}
image {
    width: 200px;
    height: 150px;


}

#mugContainer1{

    font-size: 110%;
    color: red;

}
#mugContainer2{
    font-size: 120%;
    color: #3269ff;
}
#mugContainer3{
    font-size: 125%;
    color: olivedrab;
}

form{
    padding: 2%;
    color: #59a8ff;
    font-size: 110%;
    border-color:#59a8ff ;
}